body {
  font-family: Arial, sans-serif;
  background-color: #e5ecf7;
  margin: 0;
  width: 100%;
}

form {
  margin-bottom: 20px;
}

h1 {
  padding-left: 7px;
  font-size: 24px;
}

input, select, button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #eaeaea;
}

button[onclick*="editJob"],
button[onclick*="deleteJob"] {
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: white;
  margin-right: 5px;
}

.edit-btn {
  background-color: green;
}

.edit-btn:hover {
  background-color: rgb(1, 96, 1);
}

.delete-btn {
  background-color: red;
}

.delete-btn:hover {
  background-color: rgb(194, 1, 1);
}

