body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5ecf7;
}
  
h1 {
    text-align: center;
    margin-top: 50px;
}
  
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e5ecf7;
    border: 1px solid #b3c8eb;
    border-radius: 5px;
    border-width: 2px;
}
  
form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
  
form input.text, form input.Linkedin {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.description {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e5ecf7;
    border: 1px solid #b3c8eb    ;
    border-radius: 5px;
    line-height: 1.6;
    border-width: 2px;
}
  
.description p {
    margin: 0;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

input,button{
    width: 60%;
    height: 30px;
    background-color: #b3c8eb;
    color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    margin:5px;
    
}

input:hover,button:hover{
    border-color: black;
    background-color: #7796cc;
    border-width: 2px;
}

input:focus{
    border-color: black;
    border-width: 3px;
}


  
