

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: rgb(0, 183, 255);
    display: flex;
    justify-content: center;
    border-bottom: 5px;
    border-top: 5px;
    border-color: #ffffff;
    width: 100%;
  }

  .nav ul li {
    display: inline;
    margin-right: 15px;
  }

  .nav ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .nav ul li a:hover {
    background-color: beige;
    color: rgb(0, 183, 255);
    border-color: beige;
  }

  /*.nav{
    position:fixed;
    width: 100%;
  }*/


  
