

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: #032b68;
    display: flex;
    justify-content: center;
    border-bottom: 5px;
    border-top: 5px;
    border-color: #b3c8eb;
    width: 100%;
  }

  .nav ul li {
    display: inline;
    margin-right: 15px;
  }

  .nav ul li a {
    text-decoration: none;
    color: #b3c8eb;
    padding: 8px 16px;
    border: 1px solid #b3c8eb;
    border-radius: 5px;
  }

  .nav ul li a:hover {
    background-color: #b3c8eb;
    color: #032b68;
    border-color: #b3c8eb;
  }

  /*.nav{
    position:fixed;
    width: 100%;
  }*/


<<<<<<< HEAD
  
=======
  
>>>>>>> aab3f76c1c40c8486e8821de8c3619d2319c4e82
