body {
    font-family: Arial, sans-serif;
    background-color: #e5ecf7;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    padding-left: 10px;
    color: #333;
}

input, textarea {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

select, button{
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20%;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-sizing: border-box;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

button[onclick*="editJob"] {
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

button[onclick*="editJob"]:hover {
    background-color: #218838;
}

button[onclick*="deleteJob"] {
    background-color: #dc3545;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

button[onclick*="deleteJob"]:hover {
    background-color: #c82333;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
