body {
    font-family: Arial, sans-serif;
    background-color: #e5ecf7;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    padding-left: 10px;
    color: #333;
}

input, textarea {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

select {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20%;
    box-sizing: border-box;
}

button {
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

button#saveData {
    background-color: #007bff; /* Blue */
    color: white;
    width: 100%;
}

button#saveData:hover {
    background-color: #0056b3; /* Darker Blue */
}

button#sendEmail {
    background-color: #17a2b8; /* Teal */
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

button#sendEmail:hover {
    background-color: #117a8b; /* Darker Teal */
}

button#downloadProfile {
    background-color: #28a745; /* Green */
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

button#downloadProfile:hover {
    background-color: #218838; /* Darker Green */
}

button#importProfile {
    background-color: #ff9900; /* Orange */
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

button#importProfile:hover {
    background-color: #cc7a00; /* Darker Orange */
}

#export {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

button#newProfile, button#deleteProfile {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #dc3545; /* Red */
    border: none;
}

button#deleteProfile:hover {
    background-color: #c82333; /* Darker Red */
}

button#newProfile {
    background-color: #0056b3; /* Blue */
}

button#newProfile:hover {
    background-color: #013f80; /* Darker Blue */
}

button#generate {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #0056b3; /* Blue */
    border: none;
}

button#generate:hover {
    background-color: #013f80; /* Darker Blue */
}

textarea {
    resize: none;
    height: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-sizing: border-box;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    box-sizing: border-box;
    overflow-y: auto;
}

button#fill {
    background-color: #ffc107; /* Yellow */
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

button#fill:hover {
    background-color: #cc9a06; /* Darker Yellow */
}

#pull {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#scrap {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scrap:hover {
    background-color: #0056b3;
}

#pull p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
