body {
    font-family: Arial, sans-serif;
    background-color: #e5ecf7;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    padding-left: 10px;
    color: #333;
}

input, textarea {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

select {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20%;
    box-sizing: border-box;
}

button {
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

button#saveData {
    background-color: #032b68; 
    color: white;
    width: 100%;
}

button#saveData:hover {
    background-color: #0058b7; 
}

button#sendEmail {
    background-color: #032b68; 
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

button#sendEmail:hover {
    background-color: #0058b7; 
}

button#downloadProfile {
    background-color: #032b68; 
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

button#downloadProfile:hover {
    background-color: #0058b7; 
}

button#importProfile {
    background-color: #032b68; 
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

button#importProfile:hover {
    background-color: #0058b7; 
}

#export {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

button#newProfile, button#deleteProfile {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: red; 
    border: none;
}

button#deleteProfile:hover {
    background-color: rgb(179, 0, 0); 
}

button#newProfile {
    background-color: #032b68; 
}

button#newProfile:hover {
    background-color: #0058b7; 
}

button#generate {
    display: block;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #0056b3; 
    border: none;
}

button#generate:hover {
    background-color: #013f80; 
}

textarea {
    resize: none;
    height: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-sizing: border-box;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    box-sizing: border-box;
    overflow-y: auto;
}

button#fill {
    background-color: #032b68; 
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

button#fill:hover {
    background-color: #0058b7; 
}

#load {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#loadLinkedinData {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #032b68;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loadLinkedinData:hover {
    background-color: #0058b7;
}

#load p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
